#nav-bar{
    top: 100px;
    background: #00a087;
    color: #e8fdff;
    height: 80px;
    display:block;
    padding-left: 2em;
    padding-right: 2em;
}
#nav-bar .logo{
        width:80px;
        height:80px;
        float: left;
    }
#nav-bar .header{
    padding-left: 10px;
    float: left;
    font-size: 40px;
    line-height: 2;
}

#nav-bar button{
    height: 60px;
    width: 100px;

    margin-top:10px;
    float: right;
    text-align: center;

    background-color: white;
    color:black;
    border-radius: 5px;
    box-shadow: yellow;
    font-size: 20;
}